<h1>Sign Up</h1>

<form action="/signup" method='post'>
<label for="user_name">Username:</label>
  <input type="text" name="user_name" id="">
<label for="password">Password:</label>
  <input type="password" name="password" id="">
  <input type="submit" value="sign up">
</form>