<!DOCTYPE html>
  <head>

    <title>SinatraProject</title>

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  <nav>
    <a href="/books/new">New Book</a>
    <form action="/loogut" method='post'>
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="logout">
    </form>
  </nav>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
