<!DOCTYPE html>
<head>
<title>SinatraProject</title>
<link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
    <body>
  <nav>
  <%if current_user%>
    <form action="/logout" method='post'>
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="logout">
    </form>
    <a href="/books/new">New Book</a>
    <a href="/books">My Books</a>
  <%else%>
  <a href="/login">Login</a>
    <br>
  <a href="/signup">Signup</a>
  <%end%>
  </nav>
    <div class="wrapper">
  <%= yield %>
    </div>
  </body>
</html>
