<!DOCTYPE html>
  <head>

    <title>SinatraProject</title>

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  <nav>
    <a href="/books/new">New Book</a>
  </nav>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
